<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.6.0/katex.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.6.0/katex.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>
  function katex_render(node, params){
    dom = $(node).get(0);
    eqn = $(node).attr("data-expr");
    katex.render(eqn, dom, params);
  }

  $(document).ready(function(){
    $(".inline-equation").each(function(){ katex_render(this, {}) });
    $(".equation").each(function(){ katex_render(this, { displayMode: true }) });
  });
</script>
